<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📦 Consultar Produtos</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <div class="consulta_produtos">
        <h2>Consultar Produtos</h2>
        <table>
            <tr>
                <th>Nome do Produto</th>
                <th>Valor do Produto</th>
                <th>Quantidade do Produto</th>
            </tr>
            {% for pro in prod %}
            <tr>
                <td>{{pro.nome}}</td>
                <td>{{pro.valor}}</td>
                <td>{{pro.quantidade}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>